<style>
    footer
    {
        color:rgb(26, 17, 17);
        background-color:blueviolet;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 20px;
        border-radius: 10px;
    }
</style>
<footer>
    <p>Created by Uttam Mali -Copyrights &copy; {{getCurrentYear}} </p>
</footer>