<style>
   .demo
   {
       font-size: 22px;
       margin: 0 0 0 100px;
   }
   #id1
   {
       font: normal 36px 'Cookie', cursive;
   }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/"><span id="id1">1137</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link demo" href="/">Home</a>
            </li>
            <li class="nav-item demo">
                <a class="nav-link" href="/about">About me!</a>
            </li>
            <li class="nav-item demo">
                <a class="nav-link" href="/game">Game</a>
            </li>
            <li class="nav-item demo">
                <a class="nav-link" href="/clock">Clock</a>
            </li>
        </ul>
    </div>
</nav>