<style>
    h1
    {
        color:black;
        height: 40px;
        background-color:chartreuse;
        text-align: center;
        border-radius: 10px;
    }
</style>
<h1>{{pageHeader}}</h1>
<p><a href="/">Home</a></p>
<p><a href="/about">About</a></p>
<p><a href="/clock">Clock</a></p>