<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Me.! </title>
    <link rel="icon" type="image/ico" href="icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <style>
        .demo {
            font-size: 22px;
            margin: 0 0 0 100px;
        }
    
        #id1 {
            font: normal 36px 'Cookie', cursive;
        }
            .footer-distributed{
            background-color: #292c2f;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;

            padding: 55px 50px;
            margin-top: 80px;
        }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
            display: inline-block;
            vertical-align: top;
        }

        /* Footer left */

        .footer-distributed .footer-left{
            width: 40%;
        }

        /* The company logo */

        .footer-distributed h3{
            color:  #ffffff;
            font: normal 36px 'Cookie', cursive;
            margin: 0;
        }

        .footer-distributed h3 span{
            color:  #5383d3;
        }

        /* Footer links */

        .footer-distributed .footer-links{
            color:  #ffffff;
            margin: 20px 0 12px;
            padding: 0;
        }

        .footer-distributed .footer-links a{
            display:inline-block;
            line-height: 1.8;
            text-decoration: none;
            color:  inherit;
        }

        .footer-distributed .footer-company-name{
            color:  #8f9296;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }

        /* Footer Center */

        .footer-distributed .footer-center{
            width: 35%;
        }

        .footer-distributed .footer-center i{
            background-color:  #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

        .footer-distributed .footer-center i.fa-envelope{
            font-size: 17px;
            line-height: 38px;
        }

        .footer-distributed .footer-center p{
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin:0;
        }

        .footer-distributed .footer-center p span{
            display:block;
            font-weight: normal;
            font-size:14px;
            line-height:2;
        }

        .footer-distributed .footer-center p a{
            color:  #5383d3;
            text-decoration: none;;
        }


        /* Footer Right */

        .footer-distributed .footer-right{
            width: 20%;
        }

        .footer-distributed .footer-company-about{
            line-height: 20px;
            color:  #92999f;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
        }

        .footer-distributed .footer-company-about span{
            display: block;
            color:  #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .footer-distributed .footer-icons{
            margin-top: 25px;
        }

        .footer-distributed .footer-icons a{
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color:  #33383b;
            border-radius: 2px;

            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;

            margin-right: 3px;
            margin-bottom: 5px;
        }

        /* If you don't want the footer to be responsive, remove these media queries */

        @media (max-width: 880px) {

            .footer-distributed{
                font: bold 14px sans-serif;
            }

            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right{
                display: block;
                width: 100%;
                margin-bottom: 40px;
                text-align: center;
            }

            .footer-distributed .footer-center i{
                margin-left: 0;
            }

        }
        ol
        {
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
            color: #5383d3;
        }
        h1
        {
            color: rgba(40, 37, 53, 0.24);
            font-family:monospace;
            margin: 20px 0 20px 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="/"><span id="id1">1137</span></a>
        <button class="navbar-toggler" type="button" data-Mission Scripttoggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link demo" href="/">Home</a>
                </li>
                <li class="nav-item demo">
                    <a class="nav-link" href="/about">About me!</a>
                </li>
                <li class="nav-item demo">
                    <a class="nav-link" href="/game">Game</a>
                </li>
                <li class="nav-item demo">
                    <a class="nav-link" href="/clock">Clock</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
    <h1>Strengths</h1>
    <ol>
        <li>Familiar with all main operating systems: Windows, MacOS, Linux</li>
        <li>Java</li>
        <li>C</li>
        <li>C++</li>
        <li>HTML5</li>
        <li>JavaScript</li>
        <li>CSS3</li>
        <li>SQL</li>
        <li>Node.js</li>
    </ol>
    </div>
    <footer class="footer-distributed">
    
    <div class="footer-left">
    
        <h3><span>1137</span></h3>
    
        <p class="footer-links">
            <a href="/">Home</a>
            ·
            <a href="/about">About</a>
            ·
            <a href="/clock">Clock</a>
            ·
            <a href="/game">Game</a>
        </p>
    
        <p class="footer-company-name">-Copyrights &copy;{{getCurrentYear}}</p>
    </div>
    
    <div class="footer-center">
    
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Ahmedabad</span> Gujrat, India</p>
        </div>
    
        <div>
            <i class="fa fa-phone"></i>
            <p>+91 7203919938</p>
        </div>
    
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:uttammali@yahoo.in">uttammli@yahoo.in</a></p>
        </div>
    
    </div>
    
    <div class="footer-right">
    
        <p class="footer-company-about">
            <span>About the company</span>
            Welcom to the world of 1137...
        </p>
    
        <div class="footer-icons">
    
            <a href="https://www.facebook.com/uttam.mali.965" target="_blank"><i class="fa fa-facebook"></i></a>
            {{!-- <a href="https://twitter.com/uttamgelot" target="_blank"><i class="fa fa-twitter"></i></a> --}}
            <a href="https://www.linkedin.com/in/uttam-mali-356b78149/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/uttammali" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.instagram.com/uttam_1137/" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>